{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif, 'Josefin Sans', sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;
  }
  
  
  .vh-50 {
    height: 50vh;
  }
  .vh-25 {
    height: 25vh;
  }
  .vh-75 {
    height: 75vh;
  }
  
  .form-w {
    width: 25rem;
  }

  .cardHighlight {
    min-height: 100%;
  }


  
  /* LOGIN */
  .colr-bg{
    background-color: #be1e1e;
  }
  
  /* Home - Carousel */
  
  .carousel-height{
    max-height: 5vh;
  }
  
  
  
  .img-fit{
    object-fit: cover;
    min-height: 720px;
    width: 100%;
  
  }
  
  
  
  /* Navbar */
  .border-bot{
    border-bottom: 2px solid rgb(0, 0, 184);
  }

  .nav-font {
    font-family: 'Josefin Sans', sans-serif;
  }
  
  /* table header */
  .th-bg{
    background-color: rgb(0, 0, 184);;
  }
  
  /* Home Banner */
  
  .banner-bg{
    background-color: #be1e1e;
  }

  .hb-h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
  }

  .hb-p {
    font-family: 'Josefin Sans', sans-serif;
  }
  
  
  /* featured products */
  .card-height{
    min-height: 100% !important;
  }
  
  .card-border{
    border-color: rgb(218,
      218,
      218) !important;
  }
  
  .card-bg {
    background-color: rgb(218, 218, 218) !important;
  }
  
  
  /* edit modal */
  .editModal-img-fit {
    object-fit: cover;
    object-position: 100% 10%;
    max-height: 180px;
    width: 100%;
  
  }

  /* Products page */
  .prod-h1 {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
  }